.container {
    display: grid;
    grid-template-columns: 70% 30%;
   
}
.login{
    font-size: x-large;
    /* border-style: dashed; */
    text-align: center;
    padding-top: 2%;
}

.Header li{
    /* border-style: dashed; */
    display: inline-block;
    zoom:1.5;
    padding-left: 2em;
}