.myList {
    display              : grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 2em;
}

.myList li {
    list-style-type: none;
    /* border-style   : dashed; */
    align-items    : center;
}